*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

input {
  background-color: transparent;
}
